.about-section {
  padding: 2rem 0rem;
  background-color: #F3F4F6;
}

.about-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1100px;
  margin: 0 auto;
  gap: 3rem;
}

.about-text {
  flex: 1;
  min-width: 300px;
}

.about-text h2 {
  font-size: 2rem;
  color: #1E3A8A ;
  margin-bottom: 0.5rem;
}

.divider {
  width: 70px;
  height: 4px;
  background-color: #10B981;
  margin-bottom: 1.5rem;
  margin-left: 0;
}

.about-text p {
  color: #212345;
  line-height: 1.7;
  margin-bottom: 1rem;
}

.about-image {
  flex: 1;
  min-width: 300px;
  margin-top: 40px;
}

.about-image img {
  width: 100%;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}
