.activities-page {
  background-color: #F3F4F6;
  min-height: 100vh;
  font-family: Arial, sans-serif;
}

.activities-header {
  padding: 20px 40px;
}

.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.header-top h1 {
  color: #1E3A8A;
  font-size: 26px;
  font-weight: 700;
}

.activities-filter p {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
  color: #1E3A8A;
}

.activities-filter select {
  padding: 6px;
  width: 130px;
  border-radius: 8px;
  border: 1px solid #6B7280;
  background-color: white;
  color: #212345;
  font-weight: 500;
  cursor: pointer;
}

.audits-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px;
  padding: 20px 40px;
}

.audit-card {
  background-color: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.2s ease;
}

.audit-card:hover {
  transform: translateY(-5px);
}

.audit-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.audit-content {
  padding: 15px;
}

.audit-content h3 {
  color: #1E3A8A;
  margin-top: 0;
  margin-bottom: 8px;
  cursor: pointer;

}

.audit-content p {
  color: #6B7280;
  font-size: 14px;
  margin-bottom: 12px;
}

.audit-meta {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #10B981;
  font-weight: bold;
}

/* Pagination styling */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
  gap: 12px;
}

.pagination button {
  background-color: #F3F4F6 ;
  border: 1px solid #F3F4F6  ;
  padding: 7px;
  font-size: 16px;
  font-weight: 600;
  color: #2950ba;
  cursor: pointer;
  transition: all 0.25s ease;
}
.pagination .n {
  background-color: #426de01d ;
  border: 1px solid #F3F4F6 ;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 600;
  color: #2950ba;
  cursor: pointer;
  transition: all 0.25s ease;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
}

.pagination button:hover:not(:disabled) {

}
.pagination .n:hover:not(:disabled) {
  background-color: #1e3b8a57 ;
  color: #fff;
  transform: translateY(-2px);
}

.pagination button.active {
  border-bottom: #2950ba 2px solid;

}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
