.audit-detail-page {
  font-family: "Poppins", sans-serif;
  background-color: #f3f4f6;
  min-height: 100vh;
}

.audit-banner {
  position: relative;
  height: 350px;
  overflow: hidden;
  box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.audit-banner-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
}

.overlay {
  position: absolute;
  bottom: 5px;
  left: 40px;
  color: #fff;
}

.overlay h1 {
  font-size: 28px;
  font-weight: 700;
  text-shadow: 0 2px 6px rgba(0,0,0,0.4);
}

.audit-detail-container {
  max-width: 90%;
  margin: 20px 80px;
  background: #fff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

.back-btn {
  display: inline-block;
  color: #2563EB;
  font-weight: 600;
  text-decoration: none;
  transition: color 0.2s;
}

.audit-content {
  line-height: 1.7;
}

.audit-content .audit-description {
  font-weight: 600;
  color: #1E3A8A ;
  margin-bottom: 15px;
}

.audit-content .audit-full-text {
  color: #212345;
  font-size: 14px;
  margin-top: 10px;
}

.audit-content .audit-update {
  margin-top: 25px;
  color: #059669;
  font-weight: 600;
}
