.admin-dashboard {
  display: flex;
  background-color: #f3f4f6;
  min-height: 100vh;
}

.admin-content {
  margin-left: 200px;
  width: 100%;
}
.admin-content-companies {
  margin-left: 178px;
  width: 100%;
  background: #F3F4F6; 
}
