html {
  scroll-behavior: smooth;
}
.content {
  margin: 0;
  margin-top: 80px !important;
  padding: 0 !important;
}
.contenthome {
  margin: 0;
  margin-top: 0px !important;
  padding: 0 !important;
}