.services-section {
  padding: 4rem 5rem;
  padding-top: 0rem;
  background-color: #fff;
  text-align: center;
  overflow: hidden;
}

.services-section h2 {
  font-size: 2.2rem;
  color: #1E3A8A;
  margin-bottom: 0.5rem;
  text-align: left;
  font-weight: 700;
}

.divider {
  width: 80px;
  height: 4px;
  background-color: #10B981;
  margin: 0.5rem auto 3rem auto;
  border-radius: 2px;
   margin-left: 0;
}

.services-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2.5rem;
  max-width: 1200px;
  margin: 0 auto;
}

.service-card {
  background: #F3F4F6;
  border-radius: 18px;
  padding: 2rem 1rem;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.service-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, #10B98155, #1E3A8A55);
  transition: all 0.5s ease;
  z-index: 0;
}

.service-card:hover::before {
  left: 0;
}

.service-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.15);
}

.icon {
  font-size: 2.8rem;
  color: #10B981;
  margin-bottom: 1.2rem;
  transition: color 0.3s ease;
  z-index: 1;
  position: relative;
}

.service-card:hover .icon {
  color: #1E3A8A;
}

.service-card h3 {
  font-size: 1.3rem;
  color: #1E3A8A;
  margin-bottom: 0.8rem;
  font-weight: 600;
  z-index: 1;
  position: relative;
}
.service-card:hover  h3 {
  color: #10B981;
}

.service-card p {
  color: #212345 ;
  font-size: 1rem;
  line-height: 1.6;
  z-index: 1;
  position: relative;
}
