.sidebar-customer {
  width: 175px;
  background: #1e3a8a;
  color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  padding-top: 110px;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar-navC {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.sidebar-linkC {
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  text-decoration: none;
  font-size: 15px;
  padding: 10px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar-linkC:hover {
  background: rgba(255, 255, 255, 0.15);
}

.sidebar-linkC.active {
  background: rgba(255, 255, 255, 0.25);
  font-weight: 600;
}

.logout-btnC {
  background: none;
  border: none;
  cursor: pointer;
  color: white;
  text-align: left;
  font-size: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.logout-btnC:hover {
  background: rgba(255, 0, 0, 0.2);
}
